---
/* eslint-disable @typescript-eslint/no-unsafe-member-access,
@typescript-eslint/no-unsafe-assignment, @typescript-eslint/no-unsafe-return,
@typescript-eslint/no-unsafe-call, @typescript-eslint/no-explicit-any */
import Layout from "../layouts/Layout.astro";

// FIXME: Please add type for the result
const result = await fetch(
  "https://meteo.gc.ca/api/app/v3/fr/Location/45.529,-73.562?type=city",
)
  .then((x) => x.json())
  .then((x) => x[0]);
---

<Layout title="Météo Montréal">
  <h1>{result.observation.observedAt}</h1>
  <p>{result.observation.timeStampText}</p>

  <hr />

  <h2>Observation</h2>

  <dl>
    <dt>Condition</dt>
    <dd>{result.observation.condition}</dd>

    <dt>Température</dt>
    <dd>{result.observation.temperature.metric}c</dd>

    <dt>Humidex</dt>
    <dd>{result.observation.feelsLike.metric}c</dd>

    <dt>Humidité</dt>
    <dd>{result.observation.humidity}%</dd>

    <dt>Vent</dt>
    <dd>
      {result.observation.windDirection}
      {result.observation.windSpeed.metric} rafales {
        result.observation.windGust.metric
      } km/h
    </dd>
  </dl>

  <hr />

  <h2>Prévision horaire</h2>

  <table>
    <thead>
      <tr>
        <td>Date/Heure</td>
        <td>Temp</td>
        <td>Humidex</td>
        <td>Condition</td>
        <td>Éventualité de précipitation</td>
      </tr>
    </thead>
    <tbody>
      {
        result.hourlyFcst.hourly.map((x: any, index: number) => {
          const addDate = index === 0 || x.time === "0h00";

          return (
            <>
              {addDate && (
                <tr>
                  <td colspan="5">{x.date}</td>
                </tr>
              )}
              <tr>
                <td>{x.time}</td>
                <td>{x.temperature.metric}c</td>
                <td>{x.feelsLike.metric}c</td>
                <td>{x.condition}</td>
                <td>{x.precip}%</td>
              </tr>
            </>
          );
        })
      }
    </tbody>
  </table>
</Layout>
